<body id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span class="d-block d-lg-none">HARISH</span>
          <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../assets/img/profile1.jpg" alt=""></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about"><i class="fas fa-user"></i> About</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education"><i class="fas fa-graduation-cap"></i> Academics</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills"><i class="fas fa-tasks"></i> Skills</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests"><i class="fas fa-list-alt"></i> Interests</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#certificates"><i class="fas fa-certificate"></i> Certificates</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#project"><i class="fas fa-project-diagram"></i> Projects</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience"><i class="fas fa-history"></i> Experience</a></li>
          </ul>
      </div>
  </nav>
  <!-- Page Content-->
  <div class="container-fluid p-0">
      <!-- About-->
      <section class="resume-section" id="about">
          <div class="resume-section-content">
              <h1 class="mb-0">
                  <span class="text-primary">HARISH</span>
              </h1>
              <div class="subheading mb-5">
                  9/5A -> BAJANAI KOVIL STREET -> MENAMBEDU -> AMBATTUR -> CHENNAI 
                  <div>
                    <i class="fab fa-whatsapp" style="color: green;"></i> 9514109259&nbsp;&nbsp;&nbsp;
                    <a href="mailto:hari17ec042@rmkcet.ac.in"><i class="far fa-envelope"></i> hari17ec042@rmkcet.ac.in</a>
                  </div>
              </div>
              <p class="lead mb-5">An enthusiastic engineering student who is a self starter and capable to use technical skills for the betterment of the organization</p>
              <div class="social-icons">
                  <a class="social-icon" href="https://www.linkedin.com/in/harish-y-d-4330711b1"><i class="fab fa-linkedin-in"></i></a>
                  <a class="social-icon" href="https://github.com/Harish1606"><i class="fab fa-github"></i></a>
                  <a class="social-icon" href="https://www.instagram.com/harish__1606/"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
      </section>
      <hr class="m-0" />
      <!-- Education-->
      <section class="resume-section" id="education">
          <div class="resume-section-content">
              <h2 class="mb-5">Academics</h2>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">R.M.K COLLEGE OF ENGINEERING AND TECHNOLOGY</h3>
                      <div class="subheading mb-3">Bachelor of Engineering</div>
                      <div>Electronics and Communication Engineering</div>
                      <p>GPA: 8.13</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">September 2017 - Present</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">S.R.M HIGHER SECONDARY SCHOOL</h3>
                      <div class="subheading mb-3">Senior Secondary</div>
                      <p>Percentage: 92</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">June 2016 - May 2017</span></div>
              </div>
          </div>
      </section>
      <hr class="m-0" />
      <!-- Skills-->
      <section class="resume-section" id="skills">
          <div class="resume-section-content">
              <h2 class="mb-5">Skills</h2>
              <div class="subheading mb-3"><h3>Programming Languages & Tools</h3></div>
              <ul class="list-inline dev-icons">
                  <li class="list-inline-item"><a href="https://devdocs.io/c/"><h2><i class="fab fa-cuttlefish" style="color: grey;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://python.org"><h2><i class="fab fa-python" style="color: yellow;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://www.tutorialspoint.com/java/index.htm"><h2><i class="fab fa-java" style="color: royalblue;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://www.w3schools.com/html/"><h2><i class="fab fa-html5" style="color: red;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://www.w3schools.com/css/"><h2><i class="fab fa-css3-alt" style="color: blue;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://angular.io/"><h2><i class="fab fa-angular" style="color: red;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://nodejs.org/en/"><h2><i class="fab fa-node-js" style="color: green;"></i></h2></a></li>
                  <li class="list-inline-item"><a href="https://www.mongodb.com/"><h2><i class="fab fa-envira" style="color: darkgreen;"></i></h2></a></li>
              </ul>
              <div class="subheading mb-3"><h3>Workflow</h3></div>
              <ul class="fa-ul mb-0">
                  <li>
                      <span class="fa-li"><i class="fas fa-check"></i></span>
                      Full Stack Web Development
                  </li>
                  <li>
                      <span class="fa-li"><i class="fas fa-check"></i></span>
                      Artificial Intelligence
                  </li>
                  <li>
                      <span class="fa-li"><i class="fas fa-check"></i></span>
                      Competitive Programming
                  </li>
              </ul>
          </div>
      </section>
      <hr class="m-0" />
      <!-- Interests-->
      <section class="resume-section" id="interests">
          <div class="resume-section-content">
              <h2 class="mb-5">Interests</h2>
              <p>Being a web developer, I spend large amount of my free time exploring the latest technology advancements in the front-end web development world.</p>
              <p class="mb-0">Apart from web development, I like to work in Artificial Intelligence and spend my free time in outdoors</p>
          </div>
      </section>
      <hr class="m-0" />
      <!-- Certificates-->
      <section class="resume-section" id="certificates">
          <div class="resume-section-content">
              <h2 class="mb-5">Certifications</h2>
              <ul class="fa-ul mb-0">
                  <li>
                      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                      Coursera - Full Stack Web Development
                  </li>
                  <li>
                      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                      Udemy - HTML,CSS,BOOTSTRAP-4
                  </li>
                  <li>
                      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                      Udemy - Javascript
                  </li>
                  <li>
                      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                      Udemy - Angular 10
                  </li>
                  <li>
                      <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                      1
                      <sup>st</sup>
                      Place - R.M.K COLLEGE OF ENGINEERING AND TECHNOLOGY - Internal Hackathon 2020
                  </li>
              </ul>
          </div>
      </section>
      <hr class="m-0" />
      <!-- project-->
      <section class="resume-section" id="project">
          <div class="resume-section-content">
              <h2 class="mb-5">Projects</h2>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Ticket Booking App</h3>
                      <div class="subheading mb-3">MEAN Stack Web Development</div>
                      <p><i class="fas fa-arrow-right"></i> Angular to build frontend</p>
                      <p><i class="fas fa-arrow-right"></i> ExpressJs to build backend server and restapi</p>
                      <p><i class="fas fa-arrow-right"></i> Mongodb database to store the records</p>
                      <p><i class="fas fa-arrow-right"></i> NodeJs as runtime environment</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">March 2020 - April 2020</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                  <div class="flex-grow-1">
                      <h3 class="mb-0">Voice Prescription</h3>
                      <div class="subheading mb-3">Mobile App and Web</div>
                      <p><i class="fas fa-arrow-right"></i> Ionic to build view of mobile app</p>
                      <p><i class="fas fa-arrow-right"></i> Python flask to build server and restapi</p>
                      <p><i class="fas fa-arrow-right"></i> Mongodb database to store medical records</p>
                      <p><i class="fas fa-arrow-right"></i> Natural language processing to extract words</p>
                      <p><i class="fas fa-arrow-right"></i> Heroku for deploying the app</p>
                  </div>
                  <div class="flex-shrink-0"><span class="text-primary">January 2020 - March 2020</span></div>
                </div>
          </div>
      </section>
      <hr class="m-0" />
      <!-- Experience-->
      <section class="resume-section" id="experience">
          <div class="resume-section-content">
              <h2 class="mb-5">Experience</h2>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Web Development Intern</h3>
                    <div class="subheading mb-3">Glosys Technology Solutions</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">January 2020 - Present</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Deep Learning using python</h3>
                    <div class="subheading mb-3">Glosys Technology Solutions</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">September 2019 - Present</span></div>
              </div>
              <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="flex-grow-1">
                    <h3 class="mb-0">Data Science using python</h3>
                    <div class="subheading mb-3">Glosys Technology Solutions</div>
                </div>
                <div class="flex-shrink-0"><span class="text-primary">March 2019 - August 2019</span></div>
            </div>
          </div>
      </section>
  </div>
</body>